*
  padding 0
  margin 0
  box-sizing border-box

html
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility

body, input, textarea, keygen, select, button
  font-family 'Nexa Light', sans-serif
  font-weight 300

h2
  font-weight 300
  margin-bottom 20px
